@media (max-width: 800px) {
  .questions {
    background-image: none;


  &-items{
    border-radius: 80px;
  }
}
}

@media (max-width: 600px) {
  .questions {
    background-image: none;

    &__title {
      font-size: 35px;
      line-height: 40px;
    }
    &-items{
      border-radius: 60px;

    }
    &-item__head{
      font-weight: 400;
      font-size: 22px;
      line-height: 9px;
    }
  }
  .delivery-images{
    display: none;
  }
  .delivery-form__input{
    padding: 8px 15px;
    border: 2.4px solid #E8E6E6;
border-radius: 4.8px;
  }
  .delivery-form__input::placeholder{
    font-weight: 300;
font-size: 11px;
line-height: 18px;

  }
  .delivery-form__label{
    font-size: 22px;
    line-height: 30px;
  }
  .delivery__options{
    position: relative;
    flex-direction: column;
    padding-left: 40px;
  }
  .delivery__options::before{
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    background-image: url("../images/blocknot-form.svg");
    height: 32px;
    width: 32px;
  }
  .delivery__options-link{
    color: #6F6D79;
    margin-bottom: 0;
    margin-right: 0;
  }
  .delivery-list__loca::before{
    left: 4px;
  }
}

@media (max-width: 515px) {
  .delivery-form__input--left ,
.delivery-form__input--right{
width: 200px;
}
.delivery-about__time{
  display: none;
}
.delivery-form__btn{
  margin-bottom: 40px;
}
}

@media (max-width: 450px) {
  .questions {
    background-image: none;

    &__title{
      font-size: 35px;
      line-height: 40px;
    }
    &-items {
      border-radius: 40px;
      font-weight: 400;
      font-size: 22px;
      line-height: 9px;
    }
    &-item__head{
    font-weight: 400;
      font-size: 22px;
      line-height: 9px;
    }
    &-item__body{
      line-height: 23px;
    }
  }
.delivery-form__input--left ,
.delivery-form__input--right{
width: 170px;
}
}
