* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button,
input,
textarea {
  appearance: none;
  -webkit-appearance: none;
  font-family: inherit;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  color: #171427;
}

a {
  display: inline-block;
  font: inherit;
  color: inherit;
  transition: 300ms;
  text-decoration: none;
  font-family: 'Hind', sans-serif;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
}

a img {
  border: none;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}